/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Generic styling */
* {

}


html {
  font: 100% / 250% "Helvetica";
}
body {
  font-size:1.25em;
  margin: 0;
  padding: 0;
}

/* Navigatie styling. */


nav ul{
  display:flex;
  flex-wrap: nowrap;
  max-width: 100%;
  margin:0;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}


ul > li:nth-of-type(3) img {
  width: 200px;
  padding: 0 20px 0 20px;
}

li img{
  padding:10px;
  min-width: 20px;
  min-height: 20px;
  max-height: 40px;
  height:40px;
}

/* sliding hoofdimage styling. */
header {

}

picture  {
  display: flex;
}

picture > img {
  max-width: 100%;
  max-height: 40%;
}

section > picture{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-height: 40%;
}

section  picture img{
  flex: 0 0 auto;

}
section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*form styling */

header > div form{
  max-width: 100%;
}

#achtergrondForm{
  background-color:white;
}
#form{
  margin: 0 10px 10px 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 2px 2px 0px 9px;
}

form > input{
  background-image: url("../images/search.svg");
  background-position: 1px 1px;
  background-repeat:no-repeat;
  width: 80%;
  padding-left: 40px;
  background-color: #ededed;
  border:0;
}

fieldset {

}
legend {

}
label {

}
input {

}
input:invalid {

}

section > button:nth-of-type(1){
position:absolute;
  top:200px;
  left:3px;
  width: 30px;
  height: 30px;
  background-color: grey;]
}

section > button:nth-of-type(2){
position:absolute;
  top:200px;
  right: 3px;
  width: 30px;
  height: 30px;
  background-color: grey;

}

section{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

section > button:nth-of-type(3) {
  background-color: black;
  color: navajowhite;
  width: 140px;
  order: 3;
  text-align: center;
}



/* main styling. */
h1 {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}
a:link {
  
}
a:visited {
  
}
a:hover, a:focus {
  
}
a:active {
  
}


article > a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
article > a button{
  background-color: black;
  color: navajowhite;
  text-align: center;
  width: 140px;
  height:50px;
}


/* Section styling */

  header h1 {

  }

main {

}
  main button {

  }
section {
  
}

article {
  
}
  article  img {
    max-width: 100%;
    max-height: 20%;
  }
  article header {

  }
  article h3 {

  }
  article footer {
  
  }

aside {
  
}

footer {
  
}

/* Component styling */
section#some-ultra-cool-component {
  
}


/* Breakpoints */
@media all and (min-width: 30em) {
  
}

@media all and (min-width: 60em) {
  
}

@media all and (min-width: 90em) {
  
}
