/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Generic styling */
* {

}

html {
  font: 100% / 250% "Helvetica";
  max-width: 100%;
}
body {
  font-size:1.25em;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Navigatie styling. */
header {
  width: 100%;
  background-color: white;
  z-index: 1;
}

nav ul{
  display:flex;
  flex-wrap: nowrap;
  max-width: 100%;
  margin:0;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
nav ul li:nth-of-type(2){
  visibility: hidden;
  width: 0;
  height: 0;
}
nav ul li:nth-of-type(1){
  visibility: hidden;
  width: 0;
  height: 0;
}
ul > li:nth-of-type(3) img {
  width: 50px;
  padding: 0;
}

li img{
  padding:10px;
  min-width: 20px;
  min-height: 20px;
  max-height: 40px;
  height:40px;
}

/* menu styling */
body aside {
  display: flex;
  flex-direction: column;
}

aside {
  background-color:rgba(179,179,179,.95);
  position:absolute;
  width:calc(100% - 3em);
  max-width:25em;
  left:0;
  top:0; bottom:0;
  transform:translateX(-100%);
  z-index: 10;
  order: 1
}

aside.toonForm {
  transform:translateX(0%);
  transition:.5s;
}

aside ul li a {
  padding-top: 1em;
  padding-left: 1em;
  color: black;
  font-size: medium;
}



/* main styling */

main {
  order: 2;
}

picture  {
  display: flex;
}

picture > img {
  max-width: 100%;
  height: 12em!important;
}


/* Sliding intro */
 article > picture{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-height: 40%;
}

article > picture img{
  flex: 0 0 auto;
}

article > a > img {
  padding: 1.5em;
}

main > article{
  border-top: 1px solid #eae8e4;
}

main > article:last-of-type{
  border-bottom: 1px solid #eae8e4;
}


section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home section:first-of-type > article > article {
  display:  flex;
  justify-content: space-between;
}

.home section:first-of-type > article > article > button:nth-of-type(1){
  width: 10em;
  height: 10em;
  border-collapse: collapse;
  border: none;
  background-color: transparent;
}

.home section:first-of-type > article > article > button:nth-of-type(2){
  width: 10em;
  height: 10em;
  border-collapse: collapse;
  border: none;
  background-color: transparent;
}

body form > button{
  position:relative;

  width:2em; height:2em;
  margin:0; padding:0;
  font-size:1em;
  appearance:none;
  border:none;
  background-color:Silver;

  display:flex;
  justify-content:center;
  align-items:center;
}


/*form styling */

aside{
  max-width: 100%;
  background-color:white;
}

.achtergrondForm{
  background-color:white;
}
.form{
  margin: 0 10px 10px 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 2px 2px 0px 9px;
}

.achtergrondForm > input{
  background-image: url("../images/search.svg");
  background-position: 1px 1px;
  background-repeat:no-repeat;
  width: 80%;
  padding-left: 40px;
  background-color: #ededed;
  border:0;
}

fieldset {

}
legend {

}
label {

}
input {

}
input:invalid {

}



button{
  background-color: black;
  color:white;
  font-weight: 300;
  width: 140px;
  height: 60px;
  order: 3;
  text-align: center;
}


section{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* main styling. */
h1 {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.magazinePagina > main > article > h1 {
  font-size: 7.5rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}
a:link {

}
a:visited {

}
a:hover, a:focus {
color: lightgrey;
}
a:active {
color: darkred;
}


article > a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
article > a button{
  background-color: black;
  color:white;
  font-weight: 300;
  text-align: center;
  width: 140px;
  height:50px;
}


/* Section styling */

  article  img {
    max-width: 100%;
    max-height: 20%;
  }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #19110b;
  order: 3;
  color: white;
}

footer > img{
  padding-top: 20px;
  justify-content: center;
  width: 200px;
  height: 80px;
}


footer > div > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

footer > div > ul > li{
  padding: 5px;
}

ul > li > a {
  font-size: 18px;
  font-weight: 300;
   color:white;
}

.taal > img {
  height: 22px;
  width: 25px;
}

/* de details pagina styling die te specifiek was om gemakkelijk algemeen te kunnen schrijven. */

.magazinePagina > ul > li > a {
  color: black; !important;
}

.magazinePagina > main > section > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.magazinePagina > main > section > ul li{
  padding: 1em;
  text-decoration: underline;
  list-style-type: none;
}


/* Style the button that is used to open and close the collapsible content */
.magazinePagina article > button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: inline;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
}

/* Style the collapsible content. Note: hidden by default */
.magazinePagina main > section > article{
  width: 80%;
  overflow: hidden;
  padding:0;
  margin: 0;
}

.magazinePagina main > section > article article {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2em;
  font-size: medium;
}

body > section:first-of-type > div {
  width: 100%;
}

body > section:first-of-type {
  order: 2;
  display: flex;
}


/* Component styling */
section#some-ultra-cool-component {
  
}



/* Breakpoints */
@media all and (min-width: 30em) {
  aside {
    transform:translateX(0);
    transition:unset;
    position:unset;
    width:100%;
    max-width: unset;
  }
  aside > ul {
    list-style-type: none;
  }

  nav ul li:nth-of-type(3){
    visibility: hidden;
    width: 0;
    height: 0;
  }
  nav ul li:nth-of-type(5){
    visibility: hidden;
    width:0;
    height: 0;
  }
  ul{
    display:flex;
  }
  aside > div, aside > a, aside > p{
    visibility: hidden;
    width: 0;
    height: 0;
  }

  aside > ul li:nth-of-type(1) {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  aside ul li:nth-of-type(7){
    visibility: hidden;
    width: 0;
    height:0;
  }
  aside ul li:nth-of-type(8){
    visibility: hidden;
    width: 0;
    height:0;
  }
  .home > main > section:last-of-type{
    display: flex;
    flex-direction: row;
  }
  .home > main > section:last-of-type > article > a > img {
    width: 20em;
  }
  aside > ul > li > a {
    font-size: 0.6em;

  }
  aside > ul > li {
    list-style-type: none;
  }

  body > section:first-of-type {
    flex-direction: row;
  }

  body > section:first-of-type > aside {
    order: 1;
  }

  body > section:first-of-type > div {
    order: 2;
    max-width: 25%;
  }
  .magazinePagina > main > section:first-of-type > article > button {
    order:1;
    max-width: 3em;;
  }
  .magazinePagina > main > section:first-of-type > article {
     display: flex;
     flex-direction: row;
     width: 100%;
    justify-content: center;
   }
  .magazinePagina > main > section:first-of-type > article > article {
    display: flex;
    flex-direction: row;
    order:2;
    align-items: center;
  }
  .magazinePagina > main > section:first-of-type > article > article > a {
    margin-bottom: 0;
    padding-right: 0.5em;
    font-size: small;
  }
}

@media all and (min-width: 60em) {
 nav {
   display: flex;
   justify-content: flex-end;
 }

  .magazinePagina > main > article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .magazinePagina > main > article> button {
    max-width: 25%;
    background-color: black;
    color: white;
  }

  .magazinePagina > main > article > section{
    flex-direction: row;
  }
  /*https://www.w3schools.com/cssref/sel_nth-of-type.asp*/
  .magazinePagina > main > article:nth-of-type(2n+1) > section > a{
    width: 33%;
  }

}

@media all and (min-width: 90em) {

}

